assistente-ia-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistente-healthprevi",
        "options": {}
      },
      "id": "d4c009a7-22dc-42bb-b798-b830c50d6f93",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1520, 224],
      "webhookId": "hp-assistente-v3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "groq_key",            "value": "COLE_SUA_CHAVE_GROQ_AQUI", "type": "string" },
            { "id": "c2", "name": "evolution_key",        "value": "081694E5520D-4644-B921-16C6D2379FAE",                        "type": "string" },
            { "id": "c3", "name": "evolution_instance",   "value": "cliente-healthprevi",                                         "type": "string" },
            { "id": "c4", "name": "evolution_url",        "value": "https://evolution.mystudioflow.com.br",                       "type": "string" },
            { "id": "c5", "name": "supabase_url",         "value": "https://zwmuabdjbezyhnealamx.supabase.co",                    "type": "string" },
            { "id": "c6", "name": "supabase_service_key", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3bXVhYmRqYmV6eWhuZWFsYW14Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDI5ODU5NywiZXhwIjoyMDk5ODc0NTk3fQ.oLNXtPqGqswYDGQC7Kbaee0VmF2OcapEK_Sf4N1wQ4w", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "903361a3-0445-425a-ab9d-efb0a0de4aac",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1328, 224]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "v1", "leftValue": "={{ $('Webhook').item.json.event }}", "rightValue": "messages.upsert", "operator": { "type": "string", "operation": "equals" } },
            { "id": "v2", "leftValue": "={{ $('Webhook').item.json.data.key.fromMe }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc0aa94e-7ce1-4712-b7bd-8f1cf34a417c",
      "name": "Filtrar Mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1104, 224]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Webhook').first().json.data;\nif (!data) return [];\n\nconst remoteJid = data.key.remoteJid || '';\nif (remoteJid.includes('@g.us')) return [];\n\nconst telefone    = remoteJid.split('@')[0];\nconst nomeContato = data.pushName || telefone;\nconst msg         = data.message || {};\n\nconst texto = (msg.conversation || msg.extendedTextMessage?.text || '').trim();\n\nlet tipoMensagem = 'texto';\nlet arquivoInfo  = null;\n\nif (msg.audioMessage || msg.pttMessage) {\n  tipoMensagem = 'audio';\n  arquivoInfo  = { mimetype: 'audio/ogg; codecs=opus', extensao: 'ogg', nomeArquivo: `audio_${Date.now()}.ogg` };\n} else if (msg.imageMessage) {\n  tipoMensagem = 'arquivo';\n  arquivoInfo  = { mimetype: msg.imageMessage.mimetype || 'image/jpeg', extensao: 'jpg', nomeArquivo: `img_${Date.now()}.jpg` };\n} else if (msg.documentMessage) {\n  tipoMensagem = 'arquivo';\n  const fname   = msg.documentMessage.fileName || `doc_${Date.now()}.pdf`;\n  arquivoInfo   = { mimetype: msg.documentMessage.mimetype || 'application/pdf', extensao: fname.split('.').pop(), nomeArquivo: fname };\n} else if (msg.stickerMessage || msg.reactionMessage) {\n  return [];\n}\n\nif (!texto && tipoMensagem === 'texto') return [];\n\nreturn [{ json: { telefone, nomeContato, tipoMensagem, texto, arquivoInfo, messageKey: data.key, messageData: data.message } }];"
      },
      "id": "c50ef806-3bd7-4802-9d91-94cfbcb961fd",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 208]
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').item.json.supabase_url }}/rest/v1/conversas?telefone=eq.{{ $('Extrair Dados').item.json.telefone }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Configuração').item.json.supabase_service_key }}" }
          ]
        },
        "options": {}
      },
      "id": "1a0c31f1-3001-4af8-81f0-5b6266a6de3e",
      "name": "Buscar Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-656, 208],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const dadosMsg     = $('Extrair Dados').item.json;\nconst cfg          = $('Configuração').item.json;\nconst telefone     = dadosMsg.telefone;\nconst nomeContato  = dadosMsg.nomeContato;\nconst tipoMensagem = dadosMsg.tipoMensagem;\nconst texto        = dadosMsg.texto || '';\n\nconst SYSTEM_PROMPT = `Você é a assistente virtual da HealthPrevi, clínica especializada em laudos médicos periciais para processos do INSS, trabalhistas e de seguros.\n\nColete as seguintes informações em ordem, UMA pergunta por mensagem:\n\n1. Primeiro nome (para cumprimentar)\n2. Confirmação: precisa de atestado ou laudo médico?\n3. Nome completo\n4. CPF\n5. Data de nascimento\n6. Finalidade: INSS auxílio-doença / auxílio-acidente (pecúlio) / seguro de vida / BPC-LOAS / outro\n7. Especialidade médica relacionada ao caso (ortopedista, clínico geral, psiquiatra, neurologista, outra). Informe que pode enviar um áudio se não souber explicar por texto.\n8. Se possui documentos antigos (atestados, exames, raio-X) — se sim, peça para enviar agora\n9. Se possui prontuário médico — se sim, peça para enviar agora\n\nREGRAS:\n- UMA pergunta por mensagem, tom cordial e simples, máximo 3 linhas\n- Se receber um áudio transcrito, considere como resposta à pergunta atual e continue\n- Ao coletar nome completo, CPF, data de nascimento, finalidade e especialidade, marque concluido: true e envie: 'Perfeito! Em breve nossa equipe da HealthPrevi entrará em contato com você. 😊'\n- Responda SEMPRE em português do Brasil\n\nRETORNE APENAS este JSON (sem markdown, sem código, só o JSON):\n{\n  \"mensagem\": \"texto para o paciente\",\n  \"concluido\": false,\n  \"dados\": {\n    \"nome_curto\": null,\n    \"nome_completo\": null,\n    \"cpf\": null,\n    \"data_nascimento\": null,\n    \"tipo_documento\": null,\n    \"finalidade\": null,\n    \"especialidade\": null,\n    \"tem_atestados\": null,\n    \"tem_exames\": null,\n    \"tem_prontuario\": null\n  }\n}`;\n\n// Pegar conversa existente do Supabase\nlet conversaRow = null;\ntry {\n  const rows = $input.all();\n  const found = rows.find(r => r.json && r.json.telefone === telefone);\n  if (found && found.json.telefone) conversaRow = found.json;\n} catch(e) {}\n\n// Timeout 10min em aguardando_arquivos\nif (conversaRow && conversaRow.estado === 'aguardando_arquivos') {\n  if (Date.now() - new Date(conversaRow.updated_at).getTime() > 600000) conversaRow = null;\n}\n\n// CONCLUÍDO → silêncio total\nif (conversaRow && conversaRow.estado === 'concluido') {\n  return [];\n}\n\nconst estado  = conversaRow ? conversaRow.estado : 'qualificando';\nconst dados   = conversaRow ? (typeof conversaRow.dados === 'string' ? JSON.parse(conversaRow.dados) : conversaRow.dados) : {};\n\n// historico no formato OpenAI: [{role:'user'|'assistant', content:'...'}]\nconst historico         = dados.historico         || [];\nconst arquivosPendentes = dados.arquivos_pendentes || [];\nconst arquivosColetados = dados.arquivos_coletados || [];\nconst etapaAtual        = conversaRow ? conversaRow.etapa_arquivo : (arquivosPendentes[0] || null);\n\nfunction buildGroqPayload(hist) {\n  return {\n    model: 'llama-3.3-70b-versatile',\n    messages: [{ role: 'system', content: SYSTEM_PROMPT }, ...hist],\n    temperature: 0.3,\n    max_tokens: 500,\n    response_format: { type: 'json_object' }\n  };\n}\n\n// ── ESTADO: qualificando ──────────────────────────────────────\nif (estado === 'qualificando') {\n\n  if (tipoMensagem === 'arquivo') {\n    historico.push({ role: 'user', content: '[Usuário enviou um documento/imagem durante as perguntas iniciais]' });\n    dados.historico = historico;\n    return [{ json: { acao: 'groq', telefone, nomeContato, dadosAtuais: dados, groqPayload: buildGroqPayload(historico), groqKey: cfg.groq_key } }];\n  }\n\n  if (tipoMensagem === 'audio') {\n    return [{ json: {\n      acao: 'audio',\n      telefone, nomeContato,\n      dadosAtuais: dados,\n      historico,\n      systemPrompt: SYSTEM_PROMPT,\n      groqKey: cfg.groq_key,\n      messageKey: dadosMsg.messageKey,\n      messageData: dadosMsg.messageData\n    }}];\n  }\n\n  // Texto normal\n  historico.push({ role: 'user', content: texto });\n  dados.historico = historico;\n  return [{ json: { acao: 'groq', telefone, nomeContato, dadosAtuais: dados, groqPayload: buildGroqPayload(historico), groqKey: cfg.groq_key } }];\n}\n\n// ── ESTADO: aguardando_arquivos ───────────────────────────────\nif (estado === 'aguardando_arquivos') {\n\n  if (tipoMensagem === 'arquivo') {\n    return [{ json: { acao: 'arquivo', telefone, nomeContato, etapaAtual, arquivosPendentes, arquivosColetados, dados, arquivoInfo: dadosMsg.arquivoInfo, messageKey: dadosMsg.messageKey, messageData: dadosMsg.messageData } }];\n  }\n\n  const idxAtual  = arquivosPendentes.indexOf(etapaAtual);\n  const restantes = arquivosPendentes.slice(idxAtual + 1);\n  const msgs = { atestados: 'Entendido! Tem exames como raio-X ou ressonância? Pode enviar aqui.', exames: 'Certo! Por último: tem prontuário médico?', prontuario: null };\n\n  if (restantes.length > 0) {\n    return [{ json: { acao: 'texto_simples', telefone, nomeContato, mensagemResposta: msgs[etapaAtual] || 'Entendido! Próximo documento?', novoEstado: 'aguardando_arquivos', novaEtapa: restantes[0], novosDados: dados, concluido: false, dadosLead: null } }];\n  }\n\n  const dl = { telefone, nome_contato_wa: nomeContato, nome: dados.nome_curto||null, nome_completo: dados.nome_completo||null, cpf: dados.cpf||null, data_nascimento: dados.data_nascimento||null, finalidade: dados.finalidade||null, especialidade: dados.especialidade||null, tem_atestados: (dados.arquivos_coletados||[]).includes('atestados'), tem_exames: (dados.arquivos_coletados||[]).includes('exames'), tem_prontuario: (dados.arquivos_coletados||[]).includes('prontuario') };\n  return [{ json: { acao: 'texto_simples', telefone, nomeContato, mensagemResposta: 'Perfeito! Em breve nossa equipe da HealthPrevi entrará em contato com você. 😊', novoEstado: 'concluido', novaEtapa: null, novosDados: dados, concluido: true, dadosLead: dl } }];\n}\n\nreturn [{ json: { acao: 'texto_simples', telefone, nomeContato, mensagemResposta: 'Olá! Em que posso ajudar?', novoEstado: 'qualificando', novaEtapa: null, novosDados: {}, concluido: false, dadosLead: null } }];"
      },
      "id": "c6b4ab8a-8799-477e-890c-1dc70f8d01d2",
      "name": "Processar Decisão",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-448, 208]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "s1", "leftValue": "={{ $json.acao }}", "rightValue": "groq",         "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "s2", "leftValue": "={{ $json.acao }}", "rightValue": "arquivo",      "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "s3", "leftValue": "={{ $json.acao }}", "rightValue": "texto_simples","operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "s4", "leftValue": "={{ $json.acao }}", "rightValue": "audio",        "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "id": "8c383dda-1051-4dc9-ba10-ca36c5a049ca",
      "name": "Switch Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-224, 160]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.groqKey }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqPayload) }}",
        "options": { "timeout": 30000 }
      },
      "id": "n08-groq",
      "name": "Chamar Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, -128]
    },
    {
      "parameters": {
        "jsCode": "const groqText = $json.choices?.[0]?.message?.content || '';\nconst ctx = $('Processar Decisão').item.json;\nconst { telefone, nomeContato, dadosAtuais } = ctx;\n\nlet parsed;\ntry {\n  const match = groqText.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : groqText);\n} catch(e) {\n  parsed = { mensagem: 'Desculpe, tive um problema. Pode repetir?', concluido: false, dados: {} };\n}\n\nconst mensagem   = parsed.mensagem || 'Pode repetir?';\nconst concluido  = parsed.concluido === true;\nconst dadosGroq  = parsed.dados || {};\n\nconst historico = dadosAtuais.historico || [];\nhistorico.push({ role: 'assistant', content: groqText });\n\nconst dadosAtualizados = Object.assign({}, dadosAtuais, { historico });\nfor (const [k, v] of Object.entries(dadosGroq)) {\n  if (v !== null && v !== undefined) dadosAtualizados[k] = v;\n}\n\nlet novoEstado = 'qualificando';\nlet novaEtapa  = null;\nlet dadosLead  = null;\n\nif (concluido) {\n  const isSim = v => v === true || v === 'true' || (typeof v === 'string' && v.toLowerCase().startsWith('sim'));\n  const pendentes = [];\n  if (isSim(dadosAtualizados.tem_atestados)) pendentes.push('atestados');\n  if (isSim(dadosAtualizados.tem_exames))    pendentes.push('exames');\n  if (isSim(dadosAtualizados.tem_prontuario))pendentes.push('prontuario');\n  dadosAtualizados.arquivos_pendentes = pendentes;\n  dadosAtualizados.arquivos_coletados = [];\n  if (pendentes.length > 0) {\n    novoEstado = 'aguardando_arquivos';\n    novaEtapa  = pendentes[0];\n  } else {\n    novoEstado = 'concluido';\n    dadosLead  = { telefone, nome_contato_wa: nomeContato, nome: dadosAtualizados.nome_curto||null, nome_completo: dadosAtualizados.nome_completo||null, cpf: dadosAtualizados.cpf||null, data_nascimento: dadosAtualizados.data_nascimento||null, finalidade: dadosAtualizados.finalidade||null, especialidade: dadosAtualizados.especialidade||null, tem_atestados: false, tem_exames: false, tem_prontuario: false };\n  }\n}\n\nreturn [{ json: { telefone, nomeContato, mensagemResposta: mensagem, novoEstado, novaEtapa, novosDados: dadosAtualizados, concluido: novoEstado === 'concluido', dadosLead } }];"
      },
      "id": "a36e1d60-ccd1-44f6-98bc-8f933399d69d",
      "name": "Parsear Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, -128]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('Configuração').item.json.evolution_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $('Configuração').item.json.evolution_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {{ JSON.stringify($json.messageKey) }},\n    \"message\": {{ JSON.stringify($json.messageData) }}\n  }\n}",
        "options": {}
      },
      "id": "7935c8fb-d824-4318-ad0a-d163eb6f549b",
      "name": "Baixar Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-32, 80]
    },
    {
      "parameters": {
        "jsCode": "const base64      = $json.base64;\nconst mimetype    = $json.mimetype || 'application/octet-stream';\nconst ctx         = $('Processar Decisão').item.json;\nconst { telefone, etapaAtual } = ctx;\nconst arquivoInfo = ctx.arquivoInfo || {};\nconst fname       = arquivoInfo.nomeArquivo || `arquivo_${Date.now()}`;\nconst storagePath = `${telefone}/${etapaAtual}/${fname}`;\nreturn [{ json: { telefone, mimetype, storagePath, fname, etapaAtual }, binary: { data: { data: base64, mimeType: mimetype, fileName: fname } } }];"
      },
      "id": "88c21642-6af0-483b-af6a-52423cca09ba",
      "name": "Preparar Binário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.supabase_url }}/storage/v1/object/documentos/{{ $json.storagePath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Content-Type",  "value": "={{ $json.mimetype }}" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "390403e6-e64a-4ea3-b67c-39915971fede",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [416, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.supabase_url }}/rest/v1/arquivos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefone\": \"{{ $('Preparar Binário').item.json.telefone }}\",\n  \"tipo\": \"{{ $('Preparar Binário').item.json.etapaAtual }}\",\n  \"url_storage\": \"{{ $('Preparar Binário').item.json.storagePath }}\",\n  \"nome_arquivo\": \"{{ $('Preparar Binário').item.json.fname }}\"\n}",
        "options": {}
      },
      "id": "19aca2c8-1782-4fd6-b245-363441abe3d8",
      "name": "Registrar Arquivo DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 80]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Processar Decisão').item.json;\nconst { telefone, nomeContato, arquivosPendentes, arquivosColetados, dados } = ctx;\nconst etapaAtual = ctx.etapaAtual;\nconst coletados  = [...(arquivosColetados || []), etapaAtual];\nconst restantes  = (arquivosPendentes || []).slice((arquivosPendentes||[]).indexOf(etapaAtual) + 1);\ndados.arquivos_coletados = coletados;\nconst msgs = { atestados: 'Atestado recebido! Tem exames como raio-X ou ressonância? Pode enviar.', exames: 'Exames recebidos! Tem prontuário médico?', prontuario: null };\nif (restantes.length > 0) {\n  return [{ json: { telefone, nomeContato, mensagemResposta: msgs[etapaAtual]||'Documento recebido! Pode enviar o próximo?', novoEstado: 'aguardando_arquivos', novaEtapa: restantes[0], novosDados: dados, concluido: false, dadosLead: null } }];\n}\nconst dl = { telefone, nome_contato_wa: nomeContato, nome: dados.nome_curto||null, nome_completo: dados.nome_completo||null, cpf: dados.cpf||null, data_nascimento: dados.data_nascimento||null, finalidade: dados.finalidade||null, especialidade: dados.especialidade||null, tem_atestados: coletados.includes('atestados'), tem_exames: coletados.includes('exames'), tem_prontuario: coletados.includes('prontuario') };\nreturn [{ json: { telefone, nomeContato, mensagemResposta: 'Perfeito! Todos os documentos recebidos. Em breve nossa equipe entrará em contato. 😊', novoEstado: 'concluido', novaEtapa: null, novosDados: dados, concluido: true, dadosLead: dl } }];"
      },
      "id": "728853a7-8009-4661-a05f-46fd86a3c604",
      "name": "Avançar Etapa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('Configuração').item.json.evolution_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $('Configuração').item.json.evolution_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {{ JSON.stringify($json.messageKey) }},\n    \"message\": {{ JSON.stringify($json.messageData) }}\n  }\n}",
        "options": {}
      },
      "id": "fc9efe65-a2ad-4e1e-ab75-f445c5d115c1",
      "name": "Baixar Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-32, 320]
    },
    {
      "parameters": {
        "jsCode": "const base64   = $json.base64;\nconst mimetype = $json.mimetype || 'audio/ogg; codecs=opus';\nconst ctx      = $('Processar Decisão').item.json;\nreturn [{\n  json: {\n    telefone:    ctx.telefone,\n    nomeContato: ctx.nomeContato,\n    dadosAtuais: ctx.dadosAtuais,\n    historico:   ctx.historico,\n    systemPrompt:ctx.systemPrompt,\n    groqKey:     ctx.groqKey\n  },\n  binary: {\n    audio: { data: base64, mimeType: mimetype, fileName: 'audio.ogg' }\n  }\n}];"
      },
      "id": "735a7bcb-877f-443a-ad9a-ccea3a7f0dfb",
      "name": "Preparar Binário Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.groqKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model",            "value": "whisper-large-v3" },
            { "name": "language",         "value": "pt" },
            { "name": "response_format",  "value": "json" },
            { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "audio" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "eb566ec1-12f7-4697-845e-118fe962ca96",
      "name": "Transcrever Áudio Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [416, 320]
    },
    {
      "parameters": {
        "jsCode": "const transcricao  = $json.text || '';\nconst ctx          = $('Preparar Binário Áudio').item.json;\nconst { telefone, nomeContato, dadosAtuais, systemPrompt, groqKey } = ctx;\n\nconst historico = [...(ctx.historico || [])];\nhistorico.push({ role: 'user', content: `[Áudio transcrito]: ${transcricao}` });\ndadosAtuais.historico = historico;\n\nconst groqPayload = {\n  model: 'llama-3.3-70b-versatile',\n  messages: [{ role: 'system', content: systemPrompt }, ...historico],\n  temperature: 0.3,\n  max_tokens: 500,\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: { telefone, nomeContato, dadosAtuais, groqPayload, groqKey } }];"
      },
      "id": "n-montar-audio",
      "name": "Montar Payload Groq Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.groqKey }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqPayload) }}",
        "options": { "timeout": 30000 }
      },
      "id": "n-chamar-groq-audio",
      "name": "Chamar Groq Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [848, 320]
    },
    {
      "parameters": {
        "jsCode": "const groqText = $json.choices?.[0]?.message?.content || '';\nconst ctx = $('Montar Payload Groq Áudio').item.json;\nconst { telefone, nomeContato, dadosAtuais } = ctx;\n\nlet parsed;\ntry {\n  const m = groqText.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(m ? m[0] : groqText);\n} catch(e) {\n  parsed = { mensagem: 'Recebi seu áudio! Pode continuar.', concluido: false, dados: {} };\n}\n\nconst mensagem  = parsed.mensagem || 'Pode continuar?';\nconst concluido = parsed.concluido === true;\nconst dadosG    = parsed.dados || {};\n\nconst historico = dadosAtuais.historico || [];\nhistorico.push({ role: 'assistant', content: groqText });\n\nconst dadosAtualizados = Object.assign({}, dadosAtuais, { historico });\nfor (const [k, v] of Object.entries(dadosG)) {\n  if (v !== null && v !== undefined) dadosAtualizados[k] = v;\n}\n\nlet novoEstado = 'qualificando', novaEtapa = null, dadosLead = null;\nif (concluido) {\n  const isSim = v => v === true || v === 'true' || (typeof v === 'string' && v.toLowerCase().startsWith('sim'));\n  const pendentes = [];\n  if (isSim(dadosAtualizados.tem_atestados)) pendentes.push('atestados');\n  if (isSim(dadosAtualizados.tem_exames))    pendentes.push('exames');\n  if (isSim(dadosAtualizados.tem_prontuario))pendentes.push('prontuario');\n  dadosAtualizados.arquivos_pendentes = pendentes;\n  dadosAtualizados.arquivos_coletados = [];\n  if (pendentes.length > 0) { novoEstado = 'aguardando_arquivos'; novaEtapa = pendentes[0]; }\n  else { novoEstado = 'concluido'; dadosLead = { telefone, nome_contato_wa: nomeContato, nome: dadosAtualizados.nome_curto||null, nome_completo: dadosAtualizados.nome_completo||null, cpf: dadosAtualizados.cpf||null, data_nascimento: dadosAtualizados.data_nascimento||null, finalidade: dadosAtualizados.finalidade||null, especialidade: dadosAtualizados.especialidade||null, tem_atestados: false, tem_exames: false, tem_prontuario: false }; }\n}\nreturn [{ json: { telefone, nomeContato, mensagemResposta: mensagem, novoEstado, novaEtapa, novosDados: dadosAtualizados, concluido: novoEstado === 'concluido', dadosLead } }];"
      },
      "id": "ec2a1679-7e25-4904-b98b-c02934895e63",
      "name": "Parsear Groq Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1072, 320]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.supabase_url }}/rest/v1/conversas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"estado\": \"{{ $json.novoEstado }}\",\n  \"etapa_arquivo\": {{ $json.novaEtapa ? JSON.stringify($json.novaEtapa) : 'null' }},\n  \"dados\": {{ JSON.stringify($json.novosDados) }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "5f26ef8d-cf79-4f4e-a462-de57b6414227",
      "name": "Salvar Estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1104, 208]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "cc", "leftValue": "={{ $json.concluido }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "619e3b26-9011-426a-9596-80261c940a5c",
      "name": "IF Concluído",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1328, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.supabase_url }}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Configuração').item.json.supabase_service_key }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.dadosLead) }}",
        "options": {}
      },
      "id": "a8bceaa7-c19e-4536-92bc-7130748164f5",
      "name": "Salvar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1552, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuração').item.json.evolution_url }}/message/sendText/{{ $('Configuração').item.json.evolution_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $('Configuração').item.json.evolution_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": {{ JSON.stringify($json.mensagemResposta) }}\n}",
        "options": {}
      },
      "id": "8f824cb9-a97f-455d-a41f-954d4b9c0412",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1776, 224],
      "onError": "continueRegularOutput"
    }
  ],

  "connections": {
    "Webhook":          { "main": [[{ "node": "Configuração",      "type": "main", "index": 0 }]] },
    "Configuração":     { "main": [[{ "node": "Filtrar Mensagem",  "type": "main", "index": 0 }]] },
    "Filtrar Mensagem": { "main": [[{ "node": "Extrair Dados",     "type": "main", "index": 0 }]] },
    "Extrair Dados":    { "main": [[{ "node": "Buscar Conversa",   "type": "main", "index": 0 }]] },
    "Buscar Conversa":  { "main": [[{ "node": "Processar Decisão", "type": "main", "index": 0 }]] },
    "Processar Decisão":{ "main": [[{ "node": "Switch Ação",       "type": "main", "index": 0 }]] },
    "Switch Ação": { "main": [
      [{ "node": "Chamar Groq",   "type": "main", "index": 0 }],
      [{ "node": "Baixar Mídia",  "type": "main", "index": 0 }],
      [{ "node": "Salvar Estado", "type": "main", "index": 0 }],
      [{ "node": "Baixar Áudio",  "type": "main", "index": 0 }]
    ]},
    "Chamar Groq":               { "main": [[{ "node": "Parsear Groq",              "type": "main", "index": 0 }]] },
    "Parsear Groq":              { "main": [[{ "node": "Salvar Estado",             "type": "main", "index": 0 }]] },
    "Baixar Mídia":              { "main": [[{ "node": "Preparar Binário",          "type": "main", "index": 0 }]] },
    "Preparar Binário":          { "main": [[{ "node": "Upload Storage",            "type": "main", "index": 0 }]] },
    "Upload Storage":            { "main": [[{ "node": "Registrar Arquivo DB",      "type": "main", "index": 0 }]] },
    "Registrar Arquivo DB":      { "main": [[{ "node": "Avançar Etapa",             "type": "main", "index": 0 }]] },
    "Avançar Etapa":             { "main": [[{ "node": "Salvar Estado",             "type": "main", "index": 0 }]] },
    "Baixar Áudio":              { "main": [[{ "node": "Preparar Binário Áudio",    "type": "main", "index": 0 }]] },
    "Preparar Binário Áudio":    { "main": [[{ "node": "Transcrever Áudio Whisper", "type": "main", "index": 0 }]] },
    "Transcrever Áudio Whisper": { "main": [[{ "node": "Montar Payload Groq Áudio", "type": "main", "index": 0 }]] },
    "Montar Payload Groq Áudio": { "main": [[{ "node": "Chamar Groq Áudio",         "type": "main", "index": 0 }]] },
    "Chamar Groq Áudio":         { "main": [[{ "node": "Parsear Groq Áudio",        "type": "main", "index": 0 }]] },
    "Parsear Groq Áudio":        { "main": [[{ "node": "Salvar Estado",             "type": "main", "index": 0 }]] },
    "Salvar Estado":  { "main": [[{ "node": "IF Concluído",   "type": "main", "index": 0 }]] },
    "IF Concluído": { "main": [
      [{ "node": "Salvar Lead",     "type": "main", "index": 0 }],
      [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]
    ]},
    "Salvar Lead": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]] }
  },

  "pinData": {
    "Webhook": [
      {
        "event": "messages.upsert",
        "instance": "cliente-healthprevi",
        "data": {
          "key": {
            "remoteJid": "5548999999999@s.whatsapp.net",
            "fromMe": false,
            "id": "MOCK123456789"
          },
          "pushName": "Paciente Teste",
          "message": { "conversation": "Olá, preciso de um laudo" },
          "messageType": "conversation",
          "messageTimestamp": 1752779000
        }
      }
    ]
  },

  "meta": {
    "instanceId": "94253114b3cd2cea2819b4bd4f095ffcc60d56a5c0ce1556236dd83d6dabb5fa"
  }
}
